@media screen and (max-width: 768px) {

    h2.logo {
        margin-bottom: 6px;
    }

    .menu {
        background-color: #202020d0;
        padding: 10px;
        position: -webkit-sticky; /* Suporte para navegadores baseados em WebKit */
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    header .container {
        display: flex;
        flex-direction: column;
    }
    
    header nav a {
        margin-right: 5px;
        color: white !important;
    }

    .pesquisa #input {
        width: 80%;
    }

    .jogo-principal, .pesquisa #input {
        margin: 0 auto;
    }

    .jogo-principal h3.titulo {
        font-size: 37px;
    }

    .jogo-principal p {
        font-size: 14px;
    }

    .botoes {
        text-align: center;
    }

    .botao {
        margin: 0 auto 6px;
        max-height: 90%;
        width: 240px;
    }
     
    .rodape h3 {
        margin-left: 170px;
    }
}